/* src/components/Header.css */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #343a40;
}

.header-logo h1 {
  margin: 0;
  color: white;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.header-nav a:hover {
  color: #007bff;
}

.navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.8); /* Ensure the links are white */
  transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #007bff !important; /* Change to a visible color on hover */
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: white;
}

@media (max-width: 768px) {
  .header-nav {
    display: none;
  }
}
