/* src/components/Projects.css */

.projects-card {
  background-color: #323f4b;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.projects-card:hover {
  transform: translateY(-10px);
}

.portfolio-image {
  width: 100%;
  height: auto;
}

.project-title {
  color: #9aa5b1;
  font-size: 16px;
}

.project-heading {
  color: #ffffff;
  font-size: 24px;
  font-family: Roboto, sans-serif;
}

.project-description {
  color: #9aa5b1;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

.project-link {
  color: #cced00;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.project-link svg {
  margin-left: 5px;
}
