.resume-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
  /* Ensure it covers the full viewport height */
  min-width: 100vh;
  background: linear-gradient(
    to right,
    #0f2027,
    #2c5364
  ); /* Background gradient */
}

.download-resume {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow to the content box */
  max-width: 800px;
  width: 100%;
}

.download-resume a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.download-resume a:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .download-resume {
    padding: 10px;
  }
}
